version: "3.9"
services:
    mariadb_incept:
        restart: always
        image: mariadb_incept
        container_name: mariadb_incept
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/db/:/var/lib/mysql
        networks:
            - incept_net

    wordpress_incept:
        restart: always
        depends_on:
            - mariadb_incept
        image: wordpress_incept
        container_name: wordpress_incept
        volumes:
           - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    nginx_incept:
        restart: always
        depends_on:
            - wordpress_incept
        image: nginx_incept
        container_name: nginx_incept
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_HOST=${MYSQL_HOST}
        ports:
            - "443:443"
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

networks:
    incept_net:
      driver: bridge
