version: "3.9"
services:
    mariadb:
        restart: always
        depends_on:
            - redis
        image: mariadb
        build: ./requirements/mariadb
        container_name: mariadb
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/db/:/var/lib/mysql
        networks:
            - incept_net

    wordpress:
        restart: always
        depends_on:
            - mariadb
            - redis
        image: wordpress
        build: ./requirements/wordpress
        container_name: wordpress
        volumes:
           - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    nginx:
        restart: always
        depends_on:
            - wordpress
        image: nginx
        build:
            context: ./requirements/nginx
            args:
                - MYSQL_USER=${MYSQL_USER}
                - MYSQL_PASSWORD=${MYSQL_PASSWORD}
                - MYSQL_HOST=${MYSQL_HOST}
                - WP_CACHE_KEY=${WP_CACHE_KEY}
        container_name: nginx
        ports:
            - "443:443"
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    ftp:
        restart: always
        depends_on:
            - nginx
        image: ftp
        build:
            context: ./requirements/bonus/ftp
            args:
                - FTP_USER=${FTP_USER}
                - FTP_PASS=${FTP_PASS}
        container_name: ftp
        ports:
            - "20:20"
            - "21:21"
            - "40001:40001"
        volumes:
           - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    redis:
        restart: always
        image: redis
        build: ./requirements/bonus/redis
        container_name: redis
        networks:
            - incept_net

    postfix:
        restart: always
        image: postfix
        tty: true
        ports:
            - "25:25"
        build:
            context: ./requirements/bonus/postfix
            args:
                - MAIL_USER=${MAIL_USER}
                - MAIL_PASS=${MAIL_PASS}
        container_name: postfix
        networks:
            - incept_net

networks:
    incept_net:
      driver: bridge
