version: "3.9"
services:
    mariadb:
        restart: always
        image: mariadb_i
        build: ./requirements/mariadb
        container_name: mariadb
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/db/:/var/lib/mysql
        networks:
            - incept_net

    wordpress:
        restart: always
        depends_on:
            - mariadb
        image: wordpress
        build: ./requirements/wordpress
        container_name: wordpress
        volumes:
           - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    nginx:
        restart: always
        depends_on:
            - wordpress
        image: nginx
        build: ./requirements/nginx
        container_name: nginx
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_HOST=${MYSQL_HOST}
        ports:
            - "443:443"
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    ftp:
        restart: always
        depends_on:
            - nginx
        image: ftp
        tty: true
        build: ./requirements/ftp
        container_name: ftp
        environment:
            - FTP_USER=${FTP_USER}
            - FTP_PASS=${FTP_PASS}
        ports:
            - "20:20"
            - "21:21"
            - "40001:40001"
        volumes:
           - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    postfix:
        restart: always
        depends_on:
            - nginx
        tty: true
        image: postfix
        build: ./requirements/postfix
        container_name: postfix
        networks:
            - incept_net

networks:
    incept_net:
      driver: bridge
