version: "3.9"
services:
    mariadb:
        restart: always
        image: mariadb
        build: ./requirements/mariadb
        container_name: mariadb
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/db/:/var/lib/mysql
        networks:
            - incept_net

    wordpress:
        restart: always
        depends_on:
            - mariadb
        image: wordpress
        build: ./requirements/wordpress
        container_name: wordpress
        volumes:
           - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

    nginx:
        restart: always
        depends_on:
            - wordpress
        image: nginx
        build: ./requirements/nginx
        container_name: nginx
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_HOST=${MYSQL_HOST}
        ports:
            - "443:443"
        volumes:
            - /Users/juanrodriguez/App/Volumes_incep/wp/:/var/www/html/wordpress
        networks:
            - incept_net

networks:
    incept_net:
      driver: bridge
