version: "3.9"
services:
    mariadb:
       restart: always
       image: mariadb_incept
       container_name: mariadb_incept
       tty: true
       ports:
           - "3306:3306"
       volumes:
           - mariadb:/Users/juanrodr/data/db
       networks:
           - network_juanrodr
    wordpress:
       restart: always
       image: wordpress_incept
       container_name: wordpress_incept
       tty: true
       ports:
           - "5000:80"
       volumes:
           - wordpress:/Users/juanrodr/data/wp
       networks:
           - network_juanrodr
#    nginx:
#        restart: always
#        image: nginx_incept
#        container_name: nginx_incept
#        tty: true
#        ports:
#            - "443:443"
#            - "80:80"
#        volumes:
#            - wordpress:/Users/juanrodr/data
#        networks:
#            - network_juanrodr

volumes:
    wordpress:
    mariadb:

networks:
    network_juanrodr:
